/* 
    Document   : BHB2013 SCOW
    Created on : 20 Noviembre 2013
    Author     : txurdi
    Description:

*/

.thumbnail {
    background: #dddddd;
}
.wave {
    background: #000000;
}
.predatos .estado {
    background: red;
}

.precargada .estado{
    background: green;
}

.sonando .estado{
    background: blue;
}

.sonado .estado{
    background: #dddddd;
}

#log {
    height: 100px;
    background: #eeeeee;
    border: 1px solid #333333;
    overflow: auto;
}

#tr_nuevo {
 display: none;
}



.exampleSource {
    display: none;
}

#left, #right {
    width: 45%;
    float: left;
}

#right {
    width: 40%;
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid #eee;
}

#right pre {
    overflow: scroll;
}

.example {
    border-top: 1px solid #eee;
    padding-top: 30px;
    width: 100%;
}

.big.button {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 0;
}

.fullWidth {
    width: 100%;
}

.tab-ui a {
    color: black;
}

.tab-ui li.current a {
    color: #F60;
}

#recorderUI {
    width: 182px;
    margin: auto;
}


#recorderUI #timer {
    font-weight: bold;
    color: #333;
    line-height: 85px;
    width: 100%;
    text-align: center;
    display: none;
}

#recorderUI.recording #timer, #recorderUI.playing #timer {
    display: block;
}


#recorderUI #otherControls {
    display: none;
}

#recorderUI.playing #otherControls, #recorderUI.recorded #otherControls {
    display: block;
}

#reset, #upload {
    width: 50px;
    margin: 5px;
}

#otherControls {
    clear: both;
}


#controlButton { margin: auto !important; padding: 0 !important; border: 0 !important; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; display: block; width: 84px; height: 84px; background-color: transparent !important; background-image: url(../img/rec_button_large.png) !important; background-position: 0 0; }

#recorderUI.recording #controlButton, #recorderUI.playing #controlButton {
    background-position: 0 -84px;
}
#recorderUI.recorded #controlButton { background-position: 0 -168px; }


#controlButton.pause { background-position: 0 -252px; }

