{% extends "layout.twig" %}

{% block title %}
    BHD 2013 - SCOW
{% endblock %}


{% block content %}

    <h1>SCOW - Social Colaboration Wave</h1>

    <h1 class="text-center">
        <a href="{{ url('pistas') }}">
            GO!<br/>
            <img src="img/logo_scow.png"/>
        </a>
    </h1>



{% endblock %}
