<!DOCTYPE html>
<html>
    <head>
        <title>{% block title 'SCOW' %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		{#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">#}
		{#<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">#}
		<link href="{{ app.request.basepath }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ app.request.basepath }}/vendor/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/scow.css" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ app.request.basepath }}/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ app.request.basepath }}/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ app.request.basepath }}/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="{{ app.request.basepath }}/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="{{ app.request.basepath }}/ico/favicon.png">

        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script src="{{ app.request.basepath }}/js/scow.js"></script>

    </head>
    <body data-spy="scroll" data-target="#menusuperior" data-offset="100">
		<header>

			<!-- Fixed navbar -->
			<div id="menusuperior" class="navbar navbar-default">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="navbar-collapse collapse">
                    <p class="navbar-text navbar-left"><img src="img/logo_scow_menu.png" /></p>
                    <ul class="nav navbar-nav">
                      <li><a href="{{ url('inicio') }}">Home</a></li>
                      <li><a href="{{ url('pistas') }}">Pistas</a></li>
                    <li><a href="{{ url('colaborar') }}">Colaborar</a></li>
				  </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="usuario">Anónimo</span> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="divider"></li>
                                <li><a href="#" id="conecta">Login</a></li>
                                <li><a href="#" id="desconecta">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
				</div>




			  </div>
			</div>




		</header>




		<div id="contenido" class="container">
        {% block content %}{% endblock %}
		</div>


		<footer>
			<!--<p>&copy; BHD2013 SCOW &middot; <a href="#">Aviso Legal</a> &middot; <a href="#">Términos y condiciones</a> &middot; <a href="#">Politica de Privacidad</a></p>-->
		</footer>



		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>


	</body>
</html>
