{% extends "layout.twig" %}

{% block title %}
    BHD 2013 - SCOW
{% endblock %}


{% block content %}

    <h1>SCOW - Social Colaboration Wave.</h1>

    <div class="row">
        <div class="col-md-4">
            Paso 1:<input type="button" href="#" id="cargabase" class="button" value="Carga Base" />
            <input type="button" href="#" id="playbase" class="button" value="PLAY" />
            <input type="button" href="#" id="pausebase" class="button" value="PAUSE" />
            <br/>
            Paso 2:<input type="button" href="#" id="precarga" class="button" value="Pista colaborativa" />
            <br/>
            Paso 3:<input type="button" href="#" id="stream" class="button" value="Dale caña" />
            <br/>
            Paso 4: Colabora!<!--<input type="button" href="#" id="colabora" class="button" value="COLABORA!" />-->
        </div>
        <div class="col-md-4">
            <img src="../img/logo_soundcloud.png" />
            <p>Escuchando: <span id="escuchando_ahora">-</span></p>
        </div>
        <div class="col-md-4">
            <ul id="log"><li>Log...</li></ul>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption" id="base">
                    <div class='wave'> <img src="" height="40px" width="100%" /></div>
                    <h3><a href="">No track</a></h3>
                    <p class="desc">Desc</p>
                    <p class="autor">Autor: none</p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" id="trocitos">
        <div class="col-md-2" id="tr_nuevo">
                <div class="thumbnail">
                        <div class="caption">
                                <h3>¡COLABORA!</h3>
                                <p><a href="#" id="colabora" >Añade un track</a></p>
                        </div>
                </div>
            </div>
    </div>







{% endblock %}
